<%- contentFor('title')%>
Brisurs Zoo
<%- contentFor('content') %>
<!--Title-->      
<div class="col-12 text-center mt-5">
    <h1 class="text-dark pt-4">Animals</h1>
    <div class="border-top border-primary w-25 mx-auto my-3"></div>
</div>
<!--End Title-->

<!--Content-->
<div class="animalslist">
<div class="container">
<div class="row my-5 text-center">
<%for(var i=0; i<anilist.length; i++){ %>
  <div class="col-md-4 my-4">
  <a href="/animals_detail/<%=i%>" title="<%=anilist[i].name%>">
  <img src="../img/animals/<%=anilist[i].img%>" class="w-100 rounded-circle">
  <h4 class="my-4"><%=anilist[i].name%></h4>
  </a>
  </div>

<% } %>
</div>
</div>

</div>


<!--Blank-->
<div class="col-md-12 my-1">
<p>&nbsp;</p>
</div>
